[submodule "japng-android"]
	path = japng-android
	url = https://github.com/moko256/Japng-Android.git
[submodule "mastodon4j"]
	path = mastodon4j
	url = https://github.com/moko256/mastodon4j
[submodule "twitter4j"]
	path = twitter4j
	url = https://github.com/takke/twitter4j.git
