[submodule "japng-android"]
	path = japng-android
	url = https://github.com/moko256/Japng-Android.git
[submodule "mastodon4j"]
	path = mastodon4j
	url = https://github.com/moko256/mastodon4j
[submodule "mastodon4j_to_twitter4j/mastodon4j"]
	path = mastodon4j_to_twitter4j/mastodon4j
	url = https://github.com/moko256/mastodon4j.git
