<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2015-2019 The twitlatte authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.moko256.twitlatte">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/back_up_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:appCategory="social"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"
            tools:node="remove"/>

        <activity
            android:name=".LinkOpenWithActivity"
            android:theme="@style/LinkOpenWithActivityTheme"
            android:noHistory="true"
            android:stateNotNeeded="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="twitter.com" />
                <data android:host="mobile.twitter.com" />
                <data android:pathPattern="/.*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="twitter" />
                <data android:host="post" />
                <data android:host="status" />
                <data android:host="user" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="web+mastodon" />
                <data android:host="share" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/static_shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PostActivity"
            android:label="@string/create_post"/>

        <activity
            android:name=".ShowTweetActivity"
            android:label="@string/post"/>

        <activity
            android:name=".ShowUserActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ShowMediasActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/ShowTweetImageActivityTheme"/>
        <activity
            android:name=".OAuthActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/app_name" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListsTimelineActivity"
            android:label="@string/lists" />
        <activity
            android:name=".TrendsActivity"
            android:label="@string/trends" />
        <activity
            android:name=".SelectListEntriesActivity"
            android:label="@string/add_to_list" />
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/search_menu_title"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".LicensesActivity"
            android:label="@string/open_source_license" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about" />
    </application>

</manifest>