<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko256.twitterviewer256">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SendTweetActivity"
            android:label="@string/tweet">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="twitter.com" />
                <data android:host="mobile.twitter.com" />
                <data android:pathPattern="/?status=.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="twitter" />
                <data android:host="post" />
                <data android:pathPattern="/?message=.*&amp;in_reply_to_status_id=.*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowTweetActivity"
            android:label="@string/tweet">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="twitter.com" />
                <data android:host="mobile.twitter.com" />
                <data android:pathPattern="/.*/status/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="twitter" />
                <data android:host="status" />
                <data android:pathPattern="\?id=.*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowUserActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="twitter.com" />
                <data android:host="mobile.twitter.com" />
                <data android:pathPattern="/.*/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="twitter" />
                <data android:host="user" />
                <data android:pathPattern="/?screen_name=.*" />
                <data android:pathPattern="/?id=.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowTweetImageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".OAuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="twv256" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/SettingsActivityTheme" />
    </application>

</manifest>